@mixin hide-text {
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin md {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 576px) {
    @content;
  }
}

@mixin media-breakpoint($breakpoint) {
  @media (max-width: $breakpoint) {
    @content;
  }
}