// font size
@each $name, $size in $font-sizes {
  .fs-#{$name} {
    font-size: $size;
  }
}

// line height
.lh- {
  &1 {
    line-height: 1;
  }
}

// text align
.text- {
  &left {
    text-align: left;
  }

  &center {
    text-align: center;
  }

  &right {
    text-align: right;
  }
}

// font weight
.fw- {
  &medium {
    font-weight: 500;
  }

  &bold {
    font-weight: bold;
  }

  &black {
    font-weight: 900;
  }
}

// font italic
.fst- {
  &italic {
    font-style: italic;
  }
}