.form- {
  &label {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 6px;
  }

  &control {
    display: block;
    width: 100%;
    padding: 5px 12px;
    font-size: 16px;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 0 0#ECECEC;
    border-radius: 3px;
    color: #4A4A4A;
  }

  &check {
    display: inline-block;

    &-label {
      font-size: 14px;
    }

    &-input {
      width: 16px;
      height: 16px;
      margin: 0;
      vertical-align: middle;
    }
  }

  &frame {
    width: 300px;
    padding: 15px;
    background: $secondary;
    box-shadow: 3px 3px 4px 0px rgba($black, 0.16);
    border-top: 3px solid $orange;
    margin: 0 auto;

    &-lg {
      width: 600px;

      @include sm {
        width: 90%;
      }
    }

    &-title {
      font-size: 18px;
      font-weight: 900;
      margin-bottom: 16px;
      text-align: center;
    }
  }
}

.input-group {
  position: relative;
  
  & > .icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: rgba($primary, 0.5);
  }

  & > .form-control {
    text-indent: 20px;
  }
}