.navbar {
  background: rgba($black, 0.75);

  & .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-brand {
    width: 120px;
    height: 24px;
    background: url('https://raw.githubusercontent.com/hexschool/course-css-weblayout/4302179dc195437fdb523ccccf11440c3b5dedc8/assets/logo_w(null).svg') no-repeat;
    @include hide-text;

    @include md {
      width: 94px;
      background-size: contain;
      background-position: center;
    }
  }
}

.nav {
  display: flex;

  &-link {
    color: $white;
    padding: 16px 15px;

    &:hover {
      background: $white;
      color: $black;
    }
  }

  @include sm {
    max-height: 0;
    flex-direction: column;
    position: absolute;
    top: 57px;
    left: 0;
    right: 0;
    background: rgba($black, 0.85);
    text-align: center;
    overflow: hidden;
    transition: all 2s;

    &.show {
      max-height: 300px;
    }
  }
}